{% block cssExtends %}
    <style>
        .panel-body {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            padding-right: 0px !important;

        }
        .panel-body .panel {
            border: 0px !important;
        }
        .panel a {
            color: #1FA67A !important;
            width: 100% !important;
        }
        .panel-body {
            border-top: 0px !important;
        }
        .panel-heading:hover {
            background-color: #1FA67A;
        }
        .panel-heading:hover a {
            color: #fff !important;
        }
    </style>
{% endblock %}

{% macro render_child(mn, cls, menu_data ) %}
    {% if mn.children %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#oscitas-accordion-0" href="#menu_{{ menu_data.id }}" aria-expanded="false">
                        {{ menu_data.name }}
                        <span style="font-size: small;float: right" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                </h4>
            </div>
            <div id="menu_{{ menu_data.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    {% for subMn in mn.children %}
                        {{ render_child(subMn,'', subMn.id|get_menu_data(_menus_data)) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#oscitas-accordion-0" href="{{ menu_data.link }}">
                        {{ menu_data.name }}
                    </a>
                </h4>
            </div>
        </div>
    {% endif %}
{% endmacro %}
<div class="panel-group" id="accordion">
    <h3>{{ widget.data.title }}</h3>
    <div class="panel-group menu-side-bar" id="side-bar-0">
        {% for mn in _menus %}
            {% set menu_data = mn.id|get_menu_data(_menus_data) %}
            {% set cls = route|active_menu(menu_data.link,'active',1) %}
            {{ render_child(mn, cls, menu_data) }}
        {% endfor %}
    </div>
</div>
